doctype html
html(lang="en")
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='stylesheets/flexboxgrid.min.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css')

        script(src='tracking.js')
        script(src='face.js')
        script(src='stats.min.js')
        script(src='https://l2.io/ip.js?var=userip')

    body

        include views/header

        div#progress
            div#bar

        canvas#bgcanvas
        //video#bgvideo

        main#hackon.container-fluid
            div.row.start-xs
                div.col-xs-12.hackframe
                    div.camerahack
                        canvas#canvas(width='960', height='720')
                        video#video(width='960', height='720', preload autoplay loop muted)
            button#hack Expose my computer
            button#stophack Block incoming connection

        include views/footer

        script(src='//localhost:35729/livereload.js')
        script(src='main.js')