doctype html
html(lang="en")
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='stylesheets/flexboxgrid.min.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css')

    body

        include views/header

        #progress
            #bar
                pre
                    |   __      __   ______   __    __        __    __   ______   __     __  ________        _______   ________  ________  __    __
                    |  /  \    /  | /      \ /  |  /  |      /  |  /  | /      \ /  |   /  |/        |      /       \ /        |/        |/  \  /  |
                    |  $$  \  /$$/ /$$$$$$  |$$ |  $$ |      $$ |  $$ |/$$$$$$  |$$ |   $$ |$$$$$$$$/       $$$$$$$  |$$$$$$$$/ $$$$$$$$/ $$  \ $$ |
                    |   $$  \/$$/  $$ |  $$ |$$ |  $$ |      $$ |__$$ |$$ |__$$ |$$ |   $$ |$$ |__          $$ |__$$ |$$ |__    $$ |__    $$$  \$$ |
                    |    $$  $$/   $$ |  $$ |$$ |  $$ |      $$    $$ |$$    $$ |$$  \ /$$/ $$    |         $$    $$< $$    |   $$    |   $$$$  $$ |
                    |     $$$$/    $$ |  $$ |$$ |  $$ |      $$$$$$$$ |$$$$$$$$ | $$  /$$/  $$$$$/          $$$$$$$  |$$$$$/    $$$$$/    $$ $$ $$ |
                    |      $$ |    $$ \__$$ |$$ \__$$ |      $$ |  $$ |$$ |  $$ |  $$ $$/   $$ |_____       $$ |__$$ |$$ |_____ $$ |_____ $$ |$$$$ |
                    |      $$ |    $$    $$/ $$    $$/       $$ |  $$ |$$ |  $$ |   $$$/    $$       |      $$    $$/ $$       |$$       |$$ | $$$ |
                    |      $$/      $$$$$$/   $$$$$$/        $$/   $$/ $$/   $$/     $/     $$$$$$$$/       $$$$$$$/  $$$$$$$$/ $$$$$$$$/ $$/   $$/
                    |   __    __   ______    ______   __    __  ________  _______
                    |  /  |  /  | /      \  /      \ /  |  /  |/        |/       \
                    |  $$ |  $$ |/$$$$$$  |/$$$$$$  |$$ | /$$/ $$$$$$$$/ $$$$$$$  |
                    |  $$ |__$$ |$$ |__$$ |$$ |  $$/ $$ |/$$/  $$ |__    $$ |  $$ |
                    |  $$    $$ |$$    $$ |$$ |      $$  $$<   $$    |   $$ |  $$ |
                    |  $$$$$$$$ |$$$$$$$$ |$$ |   __ $$$$$  \  $$$$$/    $$ |  $$ |
                    |  $$ |  $$ |$$ |  $$ |$$ \__/  |$$ |$$  \ $$ |_____ $$ |__$$ |
                    |  $$ |  $$ |$$ |  $$ |$$    $$/ $$ | $$  |$$       |$$    $$/
                    |  $$/   $$/ $$/   $$/  $$$$$$/  $$/   $$/ $$$$$$$$/ $$$$$$$/
                    |    ______    ______    ______   _______         _______   __      __  ________
                    |   /      \  /      \  /      \ /       \       /       \ /  \    /  |/        |
                    |  /$$$$$$  |/$$$$$$  |/$$$$$$  |$$$$$$$  |      $$$$$$$  |$$  \  /$$/ $$$$$$$$/
                    |  $$ | _$$/ $$ |  $$ |$$ |  $$ |$$ |  $$ |      $$ |__$$ | $$  \/$$/  $$ |__
                    |  $$ |/    |$$ |  $$ |$$ |  $$ |$$ |  $$ |      $$    $$<   $$  $$/   $$    |
                    |  $$ |$$$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |      $$$$$$$  |   $$$$/    $$$$$/
                    |  $$ \__$$ |$$ \__$$ |$$ \__$$ |$$ |__$$ |      $$ |__$$ |    $$ |    $$ |_____  __
                    |  $$    $$/ $$    $$/ $$    $$/ $$    $$/       $$    $$/     $$ |    $$       |/  |
                    |   $$$$$$/   $$$$$$/   $$$$$$/  $$$$$$$/        $$$$$$$/      $$/     $$$$$$$$/ $$/

        canvas#bgcanvas
        main#hackon.container-fluid
            .row.start-xs
                .col-xs-12.hackframe
                    .camerahack
                        canvas#canvas(width='300', height='100')
                        video#video(width='300', height='100', preload autoplay loop muted)

            #terminal
                p
                    | #[br] Last Login: Today on ttys001
                    | #[br] Internet connection through OCAD U WiFi
                    | #[br] USR: 23***** PASS: H4X3RL33T
                    | #[br] Security Level % ~~ PERCENT %
                    span.red #[br] WARNING: YOUR LAPTOP HAS BEEN BREACHED #[br] WARNING: ACCOUNT SECURITY AT RISK #[br] WARNING: FILE SYSTEM HAS BEEN ENCRYPTED
                    | #[br] Type `allow computer access` to continue

            #start.terminal.col-xs-12
                span#typed
                .enter
                    #log
                    label(for='terminalinputstart') >
                    input#terminalinputstart.terminalinput(type='text', name='inputstuff' autofocus)

            #end
                #finishedText
                label(for='terminalinputend') >
                input#terminalinputend.terminalinput(type='text', name='inputstuff' autofocus)
                #log2
        include views/footer

        script(src='tracking.js')
        script(src='face.js')
        script(src='stats.min.js')
        script(src='typed.min.js')
        script(src='https://l2.io/ip.js?var=userip')
        script(src='main.js')