@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700");
/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
body, html, table, tr, td, tbody {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Source Code Pro', sans-serif;
  overflow: hidden; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0c0c0c;
  color: #ffffff;
  height: 100%; }

main {
  height: 100%; }
  main .hackframe {
    text-align: center; }
    main .hackframe .camerahack {
      display: block;
      position: relative;
      z-index: 0;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#hack {
  position: absolute;
  z-index: 999; }

#bgvideo {
  display: block; }

#bgcanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#canvas {
  z-index: 500;
  position: absolute; }

#video, #canvas {
  transform: scale(3.5); }

#progress {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0; }

#bar {
  width: 0%;
  height: 100vh;
  background-color: red;
  text-align: left;
  color: white;
  vertical-align: middle;
  font-size: 12pt;
  margin: 0;
  padding: 0; }

#stats {
  top: 10px !important; }
  #stats [style] {
    color: #ff3949 !important; }
  #stats span[style] {
    background-color: none !important; }

#msGraph[style] {
  background-color: #ff3949 !important; }

button, #stophack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 2px solid white;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 700;
  font-size: 16pt;
  padding: 0.5em;
  cursor: pointer; }
  button:hover, #stophack:hover {
    background: white;
    color: #0c0c0c; }
  button:focus, #stophack:focus {
    outline: 0; }

#stophack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  top: 90%;
  border: 2px solid mediumspringgreen;
  color: mediumspringgreen;
  display: none;
  z-index: 9999; }
  #stophack:hover {
    background: mediumspringgreen; }

.terminal {
  position: absolute;
  top: 5%;
  color: lightgreen;
  font-size: 14pt;
  font-weight: 400;
  text-shadow: 0 0 1px , 0 0 1px, 0 0 1px , 0 0 1px; }

.terminalinput {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14pt;
  background: none;
  color: lightgreen;
  font-weight: 800;
  border: 0;
  outline: none;
  width: 80vw;
  text-shadow: 0 0 1px , 0 0 1px, 0 0 1px , 0 0 1px; }
  .terminalinput :focus {
    outline: none; }

.enter {
  display: block;
  margin-top: 1em; }

#typed {
  color: lightgreen;
  box-shadow: -5px -1px 1px lightgreen; }

.red {
  color: red;
  box-shadow: -5px -1px 1px red; }

.aftertype {
  width: 100%;
  color: white; }
  .aftertype p {
    background: green;
    position: absolute;
    display: block;
    width: initial;
    color: white;
    font-weight: 800;
    padding: 1px 6px;
    text-shadow: 0 0 0.1px , 0 0 0.1px, 0 0 0.1px , 0 0 0.1px; }
    .aftertype p:last-of-type {
      background: red;
      position: absolute;
      right: 5%;
      color: white; }

#end {
  position: absolute;
  bottom: 5%;
  display: block;
  width: initial; }
  #end label {
    color: green;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite; }
  #end input {
    background: none;
    border-bottom: 2px solid green;
    text-shadow: none; }

#finishedText {
  font-weight: 400; }
  #finishedText p {
    display: inline;
    margin: 0;
    background: red;
    color: white;
    padding: 1px 6px;
    text-shadow: 0 0 0.1px, 0 0 0.1px, 0 0 0.1px, 0 0 0.1px; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1.5s infinite;
  -moz-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
